/* Page Upper Section */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    font-family: sans-serif;
    font-size: 24px;
}
.logo img
{
    border-radius: 0.6rem;
    width: 150px;
    border: solid;
}
h1
{
    font-size: 84px;
    color: rgb(250, 175, 37);
}
p
{
    font-size: 24px;
    color: white; 
    width: fit-content;
    text-align: justify;
    padding: .5rem;
    line-height: 36px;
}

.upper-section
{
    height: 90vh;
    background: url(/index/S1Covertruck.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav i
{ 
    display: none;
}
.nav
{
    width: fit-content;
    display: flex;
    background-color: rgb(243, 183, 70);
    padding: 1.2rem;
    position: absolute;
    top: 8%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav a{
    text-decoration: none;
    color: black;
    
}
.nav a:hover
{
    color: rgb(255, 255, 255);
}
.nav ul
{
    font-size: 100%;
    display: flex;
    width: fit-content;
    margin: auto;
    font-weight: bold;
    margin-top: 5%;

    
}
li
{
    list-style: none;
    padding: 12px;
}
.upper-section-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.upper-section-button h1
{
    font-size: 6rem;
    font-weight: 800;
    color: white;
    margin-bottom: 3rem;
}
.upper-section-button button
{
    padding: 3rem 6rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
}
.upper-section-button button:hover
{
    padding: 3rem 6rem;
    font-size: 1.8rem;
    border-radius: 2rem;
    background-color:orangered
}

/*******************************************************************************/
/* Second Section */

#Section2
{
    background-color: rgb(43, 41, 41);
    color: white;

    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.SectionPar
{
    width: 900px;
    margin: 0 auto;
}
.Section2-details
{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
.Section2-list-inner
{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
   
}
.Section2-list-outter
{
    display: grid;
    grid-template-columns: auto;
}
.Section2-list
{ 
    font-size: 30px;
    padding: 50px;  
}

.Section2-pic img
{
    width: 50%;
    margin: auto;
    align-content: center;
    display: block;
}

/**********************************************************************************************/
/* Third Section, Homepage */ 

.Section3
{
    padding: 1.1rem;
    background-color: black;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.Section3-details
{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 24px;
}
.Section3-pic
{
    width: 40%;
    margin: auto;
    align-content: center;
    display: block;
}

/*****************************************************************************************************/
/* Forth Section, Homepage */ 

#Section4
{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 175, 37);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#Quals
{
    display: none;
}
#Benefit
{
    display: block;
}
.Section4-buttons
{
    margin: 0 auto;
    padding: 24px;
}
#benebutton
{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 0.2rem;
    width: 185px;
    height: 65px;
    font-weight: bold;
    font-size: 24px;
}
#qualbutton
{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 0.2rem;
    width: 185px;
    height: 65px;
    font-weight: bold;
    font-size: 24px;
}
#benebutton:hover
{
    background-color: orangered;
    color: rgb(241, 232, 232);
    padding: 1rem;
    border-radius: 1rem;
    width: 185px;
    height: 65px;
    font-weight: bold;
    font-size: 24px;
    
}
#qualbutton:hover
{
    background-color: orangered;
    color: rgb(241, 232, 232);
    padding: 1rem;
    border-radius: 1rem;
    width: 185px;
    height: 65px;
    font-weight: bold;
    font-size: 24px;
}
.list
{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.list p
{
    background-color: black;
    padding: 1rem;
    margin-top: 0.2rem;
    color: white;
    width: 70%;
    border-radius: 1rem;
    margin-top: 0.6rem;
}
.list p:hover
{
    color: rgb(250, 175, 37);
    background-color: darkslategray;
}
i
{
    color: orange;
}
.section4-applybutton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section4-applybutton button{
    background-color:black;
    color: white;
    padding: 1rem;
    border-radius: 0.2rem;
    border: 1px solid orange;
    width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: 24px;
}
.section4-applybutton button:hover{
    background-color: orangered;
    color: rgb(241, 232, 232);
    padding: 1rem;
    border-radius: 1rem;
    width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: 24px;
}

/********************************************************************************************************/

#Contactinfo
{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#Contactinfo i
{
    margin-top: 6px;
    padding: 20px;
    margin: auto;
    color: black;
}

/******************************************************************************************************/
 /**** Footer(Bottom of Page ****/ 
 
footer 
{
    color: white;
    font-size: 24px;
    padding: 3%; 
    text-align: center;
    background-color: black;
}
footer i
{
    color: white;
}
footer h2
{
    margin: 2rem 0 2rem 0;
}

footer a
{
    list-style: none;
    color: white;
}
footer a:hover
{
    list-style: none;
    color: rgb(250, 175, 37);
}


/*************************************************/
 /*** Code Below effects Mobile View ***/

 @media only screen and (max-width: 700px)
{

/* Page Upper Section */
.logo img
{
    border-radius: 0.6rem;
    width: 150px;
    margin: auto;
}
h1
{
    font-size: 90%;
    color: rgb(250, 175, 37);
}
p
{
    color: white; 
    width: fit-content;
    text-align: justify;
    padding: .5rem;
    line-height: 36px;
}
.upper-section
{
    height: 100vh;
    background: url(/index/S1Covertruck.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.nav
{
    font-size: 50%;
    position: relative;
    width: 94%;
    top: 6rem;
    background-color: black;
}
.nav__link 
{
    margin: auto;
    width: 90%;
    margin-top: 10%;
    position: fixed;
    top: 5rem;
    background-color: rgb(250, 175, 37);

}
  .nav__link a 
{
    text-align: center;
    padding: 10px;
}
.nav__link ul
{
    width: fit-content;
    text-align: center;
    display: block;
    margin: auto;
    font-weight: bold;
}
li
{
    list-style: none;
    padding: 5px;
}
.hamburger 
{
    padding-right: 20px;
    cursor: pointer;
    margin-left: 40%;
}
  
.hamburger .line 
{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: rgb(250, 175, 37);
}

.hide 
{
    display: none;
}
.nav a:hover
{
    color: rgb(255, 255, 255);
}
ul
{

    width: fit-content;
    text-align: center;
    display: block;
    margin: auto;
    font-weight: bold;
}
li
{
    list-style: none;
    padding: 5px;
}
.upper-section-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.upper-section-button h1
{
    font-size: 175%;
    font-weight: 600;
    color: white;
    margin-bottom: 1.5rem;
}
.upper-section-button button
{
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
}
.upper-section-button button:hover
{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    background-color:orangered
}

/*******************************************************************************/
/*** Second Section(Titled: When You Need Us... ***/

#Section2
{
    background-color: rgb(43, 41, 41);
    color: white;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#Section2 h1
{
    font-size: 100%;
}
.SectionPar
{
    width: 90%;
    margin: 0 auto;
}
.Section2-details
{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
.Section2-list-inner
{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
   
}
.Section2-list-outter
{
    display: grid;
    grid-template-columns: auto;
}
.Section2-list
{ 
    font-size: 16px;
    padding: 0px;  
}
.Section2-pic img
{
    width: 90%;
}

/**********************************************************************************************/
/*** Third Section (Titled Drive With Us) ***/ 

.Section3
{
    padding: 1.1rem;
    background-color: black;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.Section3 h1
{
    font-size: 125%;
}
.Section3-details
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 24px;
}
.Section3-pic
{
    padding: 12px;
}
.Section3 img
{
    width: 100%;
}

/*****************************************************************************************************/
/*** Forth Section(Benefit & Qual) ***/ 

#Section4
{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 175, 37);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#Quals
{
    display: none;
}
#Benefit
{
    display: block;
}
.Section4-buttons
{
    flex-direction: row;
    margin: 0 auto;
    padding: 0px;
}
#benebutton
{

    background-color: black;
    color: white;
    padding: .5rem;
    border-radius: 0.2rem;
    width: 125px;
    height: 65px;
    font-weight: bold;
    font-size: 16px;


}
#qualbutton
{
    background-color: black;
    color: white;
    padding: .5rem;
    border-radius: 0.2rem;
    width: 125px;
    height: 65px;
    font-weight: bold;
    font-size: 16px;
}
#benebutton:hover
{
    background-color: orangered;
    color: rgb(241, 232, 232);
    padding: 1rem;
    border-radius: 1rem;
    width: 125px;
    height: 65px;
    font-weight: bold;
    font-size: 16px;
    
}
#qualbutton:hover
{
    background-color: orangered;
    color: rgb(241, 232, 232);
    padding: 1rem;
    border-radius: 1rem;
    width: 125px;
    height: 65px;
    font-weight: bold;
    font-size: 16px;
}
.list
{
    padding: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
   
}
.list p
{
    background-color: black;
    margin-top: 0.2rem;
    color: white;
    width: 100%;
    border-radius: 1rem;
    margin-top: 0.6rem;
    font-size: 20px;
}
.list p:hover
{
    color: rgb(250, 175, 37);
    background-color: darkslategray;
}
i
{
    color: orange;
}
.section4-applybutton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section4-applybutton button{
    background-color:black;
    color: white;
    padding: 1rem;
    border-radius: 0.2rem;
    border: 1px solid orange;
    width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: 24px;
}
.section4-applybutton button:hover{
    background-color: orangered;
    color: rgb(241, 232, 232);
    padding: 1rem;
    border-radius: 1rem;
    width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: 24px;
}

/********************************************************************************************************/

#Contactinfo
{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#Contactinfo i
{
    margin-top: 6px;
    padding: 20px;
    margin: auto;
    color: black;
}

/******************************************************************************************************/
 /**** Footer Bottom of Page ****/ 
 
footer 
{
    color: white;
    font-size: 24px;
    padding: 3%; 
    text-align: center;
    background-color: black;
}
footer i
{
    color: white;
}
footer h2
{
    margin: 2rem 0 2rem 0;
}

}